@import "../../styles/_mixins";

.header {
  padding: 23px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  .logo {
    margin-right: 72px;
  }
  .wrapper {
    max-width: 1240px;
    margin-inline: auto;
  }
  .wrapper,
  .left,
  .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .right {
    flex-grow: 1;
    .contacts {
      display: flex;
      align-items: center;
      .icon {
        background: var(--secondary-color);
        width: 32px;
        height: 32px;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .content {
        margin-left: 10px;
        p {
          @include font(12px, 20px, 400, #cfcfcf);
        }
        a {
          @include font(16px, 20px, 700, #cfcfcf);
          font-family: "Gilroy Medium";
        }
      }
    }
  }
  .left {
    flex-grow: 1;
    margin-right: 30px;
  }
}
