@import "../../styles/_mixins";

.primary {
  padding: 14px 13px 14px 24px;
  background: var(--secondary-color);
  font-family: var(--font-regular);
  @include font(14px, 24px, 600, #fff);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.secondary {
  padding: 7px 27px;
  @include font(14px, 28px, 700, #696f7a);
  background: #f3f3f7;
  border-radius: 28px;
}

.text {
  @include font(16px, 28px, 700, #696f7a);
}

.count {
  position: relative;
  width: 24px;
  height: 24px;
  color: #000;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding-top: 2px;
  margin-left: 32px;

  &::after {
    content: "";
    position: absolute;
    top: -7px;
    left: -17px;
    width: 1px;
    height: 38px;
    border-radius: 2px;
    background: #ffffff4d;
  }
}
