@import "../../styles/_mixins";

.primary {
  padding: 14px 13px 14px 24px;
  background: var(--secondary-color);
  font-family: var(--font-regular);
  @include font(14px, 24px, 600, #fff);
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: var(--box-shadow);
  }
}

.secondary {
  padding: 23px 25px 21px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  @include font(13px, 16px, 700, #fff);
  font-family: var(--font-regular);
}

.count {
  position: relative;
  width: 24px;
  height: 24px;
  color: #000;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding-top: 2px;
  margin-left: 32px;

  &::after {
    content: "";
    position: absolute;
    top: -7px;
    left: -17px;
    width: 1px;
    height: 38px;
    border-radius: 2px;
    background: #ffffff4d;
  }
}

.iconRight {
  display: flex;
  margin-left: 12px;
}
