@import "../../styles/mixins";

.category {
  padding: 50px 0;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
  }
  .wrapper {
    max-width: 1240px;
    margin-inline: auto;
    margin-bottom: 50px;
    .title {
      text-transform: uppercase;
      @include font(32px, 39px, 700, #fff);
      font-family: var(--font-regular);
      position: relative;
      padding-left: 30px;
      &::before {
        content: "";
        width: 4px;
        height: 33px;
        background: var(--secondary-color);
        position: absolute;
        left: 10px;
      }
    }
  }
}
