@import "../../styles/mixins";

.footer {
  padding: 26px 40px 28px;
  background: linear-gradient(270.7deg, #44403f 0.4%, #211f20 100%);
  position: relative;
  .up {
    position: absolute;
    left: 2%;
    top: 25%;
    cursor: pointer;
  }
  .wrapper {
    max-width: 1240px;
    margin-inline: auto;
    display: flex;
    color: #fff;
    align-items: center;
    .info {
      margin-right: 86px;
      .privacy {
        margin-top: 15px;
        margin-bottom: 7px;
        p {
          @include font(12px, 14px, 500);
        }
      }
      .links {
        @include font(14px, 30px, 500);
        li {
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
      }
    }
    .nav {
      ul {
        display: flex;
        gap: 35px;
        li a {
          @include font(20px, 24px, 500);
          font-family: var(--font-medium);
        }
      }
    }
  }
}
