@import "../../styles/mixins";

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin-inline: auto;
  transition: all 0.2s ease;
  @include xl {
    max-width: 960px;
  }
  @include lg {
    max-width: 740px;
  }
}
