@import "../../styles/mixins";

.about {
  padding: 40px;
  .wrapper {
    position: relative;
    background: url("/images/about.png") no-repeat top center / cover;
    padding: 70px 100px 70px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .shadow {
      background: linear-gradient(to right, #211f20 30%, rgba(68, 64, 63, 0));
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .left {
      z-index: 2;
      max-width: 563px;
      .title {
        margin-bottom: 26px;
        @include font(32px, 39px, 700, #fff);
        font-family: "Gilroy Medium";
      }
      .description {
        margin-bottom: 60px;
        @include font(20px, 25px, 400, #fff);
      }
    }
    .right {
      z-index: 2;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 16px;
      .feature {
        background: rgba(80, 75, 74, 0.9);
        backdrop-filter: blur(4px);
        padding: 40px 21px;
        height: 228px;
        width: 229px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: 0.3s ease;
        &:hover {
          box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.4);
          .image svg path {
            fill: #79b282;
          }
          .text {
            color: #79b282;
          }
        }
        .image {
          margin-bottom: 26px;
        }
        .text {
          transition: 0.3s ease;
          @include font(18px, 25px, 400, #fff);
        }
      }
    }
  }
}
