@import "../../styles/mixins";

.wrapper {
  max-width: 1240px;
  margin-inline: auto;
  .menu {
    padding: 28px 0;
    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &_item {
        a {
          @include font(15px, 18px, 300, #ffffffcc);
        }
      }
      &_item.active {
        a {
          color: #fff;
          font-family: "Gilroy Medium";
        }
      }
    }
    .action {
      margin-left: 60px;
      .login {
        margin-right: 30px;
      }
    }
  }
}
